@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .container{
        padding-left: 210px;
        padding-right: 210px;
        @media screen  and (max-width:1440px){
            padding-left: calc(20% - 78px);
            padding-right: calc(20% - 78px);
        }
        @media screen  and (max-width:1280px){
            padding-left: calc(15% - 100px);
            padding-right: calc(15% - 100px);
        }
        @media screen  and (max-width:900px){
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }
}